---
version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Greeting
          command: echo Hello, world.

      - run:
          name: Print the Current Time
          command: date

      - run:
          name: mkdir
          command: mkdir /code/

      - run:
          name: cp artifact
          command: cp artifact /code/artifact

      - store_artifacts:
          path: /code/artifact
