---
version: 2
jobs:
  primary_cache:
    docker:
      - image: debian:stretch
    steps:
      - restore_cache:
          key: shared-cache
      - run:
          command: 'mkdir /code/'
      - run:
          command: "echo 'cache 1' > /code/cache"
      - save_cache:
          key: shared-cache
          paths:
            - '/code/'

  secondary_cache:
    docker:
      - image: debian:stretch
    steps:
      - restore_cache:
          key: shared-cache
      - run:
          command: 'sleep 15'
      - run:
          command: 'mkdir /code/'
      - run:
          command: "echo 'cache 2' > /code/cache"
      - save_cache:
          key: shared-cache
          paths:
            - '/code/'

  read_from_cache:
    docker:
      - image: debian:stretch
    steps:
      - run:
          command: 'sleep 30'
      - restore_cache:
          key: shared-cache
      - run:
          command: 'cat /code/cache'

workflows:
  version: 2
  primary_cache_test:
    jobs:
      - primary_cache
      - read_from_cache:
          requires:
            - primary_cache
  secondary_cache_test:
    jobs:
      - secondary_cache
      - read_from_cache:
          requires:
            - secondary_cache
